<div class="login-card">
    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
  <div class="text-center" *ngIf="!isLoading">
        <h1 class="fw-bold">Mr Bot GPT</h1>
      <img src="../../../assets/tech-bot.jpg" alt="" height="140" width="140" class="mb-4 img-custom">
     <mat-form-field color="primary" appearance="fill" class="mt-4">
         <mat-label> 
             <mat-icon class="margin-x-10">person</mat-icon> Username
         </mat-label>
         <input matInput formControlName="email" placeholder="Es. Test@mail.it" type="email">
     </mat-form-field>
     <br>
     <mat-form-field color="primary" appearance="fill" >
         <mat-label>
             <mat-icon class="margin-x-10">lock</mat-icon>Password
         </mat-label>
         <input matInput formControlName="password" placeholder="Es. Password" type="password">
     </mat-form-field>  
     <button [style.width.%]="62" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log In</button>                 
 </div> 
</form>   
 <div class="spinner" *ngIf="isLoading">
     <mat-progress-spinner 
     class="spinner"
     color="primary" 
     mode="indeterminate">
     </mat-progress-spinner>
 </div>  

</div>
