@media screen and (max-width: 480px) {
    .login-card {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333 !important;
        color: #fff !important;
    }

    .form-login {
        background-color: #fff;
        color: black;
        margin-bottom: 200px;
        height: 450px;
        padding-bottom: 50px;
        border-radius: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .title{
        color: #44492f;
        text-align: center;
        font-size: 28px;
        margin-bottom: 60px;
        font-weight: 400;
    }

    ::ng-deep .warning{
        color:white;
        background: #F44336 !important;
        justify-content: center;
    }
    
    ::ng-deep .confirm{
        color:white;
        background: green !important;
        justify-content: center;
    }

    .spinner {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        margin-bottom: 50px;
    }


}